body {
    
background-color: #f5f5f5;
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}

.app  {
    background: #fff;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: #2c2828;
    padding: 30px;
    border-radius: 30px;

}


.header {
    border-bottom: 1px solid  #f5f5f5;
    padding: 0 0 30px;
}

.a {
color:  #f5f5f5;

}

.search-form-input {

background-color: #f5f5f5;
border: none;
border-radius: 8px;
width: 80%;
font-size: 16px;
padding: 15px 20px;


}


.search-form-button{

    background-color: #885df1;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    padding: 15px 20px;
    color: #fff;
    margin-left: 5px;

    }
 .main {
    padding: 30px;
}
.weather-app-city{
    
    font-size: 30px;
    line-height: 48px;
    
}

.weather-app-details{
    
    font-size: 16px;
    line-height: 24px;
    color: rgba(39, 33, 66, 8.4);
    
}

.weather-app-details strong{
    
color: rgb(187, 28, 55);
    
}

.weather-app-temperature-container{
    
    display: flex;
        
    }

    .weather-app-temperature{
    
        font-size: 58px;
        font-weight: bold;
        margin-left: 10px;

     
        }
        .weather-app-icon{
    
            font-size: 58px;
    
            }
            .weather-app-unit{
    
                margin-top: 18px;
                font-size: 28px;

        
                }    




    .weather-app-data {
        display: flex;
        justify-content: space-between;
     }

    .footer {
        border-top: 1px solid  #f5f5f5;
        padding: 0 0 0;
        text-align: center;
        font-size: 13px;
        color: rgba(0, 0, 0.6,);
    }
    